/* --- CSS3 ANIMATIONS --- */	
/* Fade in */
@-moz-keyframes fadein {
	0% {bottom: -100px; opacity: 0;}
	50% {bottom: 16px}
	100% {bottom: 10px; opacity: 0.6;}
}

@-webkit-keyframes fadein {
	0% {bottom: -100px; opacity: 0;}
	50% {bottom: 16px}
	100% {bottom: 10px; opacity: 0.6;}
}

/* Fade out */
@-moz-keyframes fadeout {
	0% {bottom: 16px}
	100% {bottom: -400px; opacity: 0;}
}

@-webkit-keyframes fadeout {
	0% {bottom: 16px}
	100% {bottom: -400px; opacity: 0;}
}
