@font-face {
	font-family: "bgt";
	src: url(bavc.ttf);
}

html, body {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 100%;
	background: #333 url(../img/bg.png) repeat;
	color: #ddd;
/*	text-shadow: 3px 0px 0px red; */
}

body, table {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
}

a {
	color: #00cc00;
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #00ff00;
	text-shadow: #ddd 0px 0px 2px;
}

a:active {
	text-shadow: #007700 0px -3px 1px;
}

.header, .menu-bar, .footer, .body {
	width: 80%;
	margin: auto;
	border: 1px #fff solid;
	margin-bottom: 1px;
}

.header {
	background: #000 url(../img/header.png) no-repeat;
	height: 128px;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
	clear: both;
	font-size: 12px;
	min-width: 512px;
}

.header #logo img {
	padding-left: 20px;
}

.header div {
	float: left;
	height: 128px;
}

.menu-bar {
	min-width: 512px;
	background-color: #000;
}

.menu-bar ul {
	height: 15px;
}

.menu-bar ul li {
	float: left;
	padding-right: 20px;
}

.navline {
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.body {
	background-color: #111;
	min-height: 64px;
	min-width: 512px;
}

.footer {
	background: #000 url('../img/footer.png') repeat-x;
	font-size: 10px;
	text-align: right;
	line-height: 32px;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	min-width: 512px;
}

.footer i {
	margin-right: 10px;
}

