/*** Auto generated tables styles ***/
.forum-tbl {
	font-size: 13px;
	width: 100%;
	min-width: 512px;
}

.forum-tbl th {
	padding-left: 10px;
	color: #777;
	background-color: #222;
	text-align: left;
}

.forum-section-head {
	color: #aaa;
	background-color: #444;
	font-weight: bold;
}

.forum-tbl td {
	padding-left: 5px;
	border: 1px #333 solid;
}

.forum-tbl tr:hover {
	background-color: #222;
}

/* User Post */

.quote-buttons a {
	margin-left: 5px;
	font-size: 13px;
	float: right;
	display: block;
	padding: 2px;
	width: 15px;
	height: 15px;
	text-align: center;
	background-color: #333;
	border: 1px #fff solid;
	border-radius: 100px;
	box-shadow: inset 0 3px 2px #666, inset 0 -15px #222, 0 0 3px #aaa;
}

.quote-buttons a:active {
		border: 1px #444 solid;
}

.post-tbl {
	font-size: 13px;
	width: 100%;
}

.post-tbl td {
	border: 1px #333 solid;
}
 
.post-user-td {
	text-align: center;
	width: 16%;
	font-size: 12px;
	padding: 10px 0px 10px 0px;
}

.post-postedon-td {
	padding-left: 7px;
	height: 16px;
}

.post-content-td {
	height: 128px;
	background-color: #000;
	padding-left: 5px;
	white-space: pre-wrap;
}

.forum-buttons {
	text-align: right;
}

.forum-buttons a {
   border: 1px solid #333;
   background-color: #444;
   color: #aaa;
   border-radius: 7px;
   box-shadow: inset 0 1px 3px #666, inset 0 -15px #222, 0 0 3px #000;
   text-shadow: 1px 2px 1px #000;
   padding: 5px 10px;
}

.forum-buttons a:active {
   box-shadow: inset 0 1px 3px #333, inset 0 -13px #222, 0 0 5px #111;
   text-shadow: 0px 0px;
}

/*  Registration */
.user-form {
	font-family: Tahoma, sans-serif;
	font-size: 12px;
	border: 1px #ddd solid;
	border-radius: 10px;
	background-color: #333;
	margin: auto;
}

.user-form th {
	background-color: #777;
	color: #111;
	border: 1px #222 solid;
	border-radius: 7px;
}

.user-form input[type=text], .user-form input[type=password], .user-form input[type=file], .user-form textarea {
	background-color: #000;
	color: #ccc;
	border: 1px #666 solid;
	border-radius: 7px;
	padding-left: 2px;
	width: 100%;
}

.user-form input[type=submit] {
	border-radius: 7px;
	border-width: 1px;
	background-color: #000;
	color: #fff;
	width: 80%;
	height: 32px; 
	margin-top: 10px;
	margin-bottom: 10px;
}


/* Posting */
#new_post {
	font-size: 12px;
	width: 50%;
	margin: auto;
	border: 1px #ddd solid;
	border-radius: 10px;
	background-color: #333;
	margin-top: 10px;	
	margin-bottom: 10px;
}

#new_post th {
	background-color: #777;
	color: #111;
	border: 1px #222 solid;
	border-radius: 7px;
}

#new_post input[type=submit], #new_post input[type=button] {
	border-radius: 7px;
	border-width: 1px;
	background-color: #000;
	color: #fff;
	height: 32px; 
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#new_post input[type=text] {
	width: 100%;
	border-radius: 7px;
	border-width: 1px;
	background-color: #000;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
}
	
#bbcodes button {
	font-size: 11px;
	background-color: #000;
	border-width: 1px;
	border-radius: 7px;
	color: #fff;
}

#bbcodes ul {
	display: block;
	width: 24px;
	margin-right: 5px;
	text-align: center;
	padding: 1px;
	float: left;
	font-size: 11px;
	background-color: #000;
	border: 1px #fff solid;
	border-width: 1px;
	border-radius: 7px;
	color: #fff;
}

#bbcodes ul li {
	list-style-type: none;
}

#emoticons_dropdown div {
	position: absolute;
	border: 1px #fff solid;
	background-color: #000;
	padding: 10px;
	border-radius: 7px;
	visibility: hidden;
}


#emoticons_dropdown:hover div {
	visibility: visible;
}

#content_area {
	border-radius: 7px;
	border: 1px #aaa solid;
	background-color: #000;
	color: #ddd;
}

.overpost-table {
	font-size: 12px;
	height: 40px;
	width: 100%;
	border-width: 0px;
}

