/*** Other styles ***/
.center-me {
	width: 100%;
	vertical-align: middle;
	text-align: center;
}

.error-message {
	border: 1px #fff solid;
	background-color: #333;
	color: #fff;
	padding: 20px 10px 20px 10px;
	max-width: 512px;
	text-align: center;
	margin: 20px auto;
	border-radius: 7px;
}

.user-avatar {
	width: 96px;
	height: 96px;
   border: 1px solid rgba(0,0,0,0.5);
   border-radius: 10px;
   background: rgba(0,0,0,0.15);
   box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.15), inset 0 10px 	20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
}

.user-signature {
	margin-top: 16px;
}

.quick_login input[type=text], .quick_login input[type=password] {
	font-size: 10px;
	width: 120px;
	background-color: #444;
	color: #ddd;
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #222 #777 #777 #222; 
}

.quick_login input[type=text] {
	background-image: url(../img/user.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}

.quick_login input[type=password] {
	background-image: url(../img/key.png);
	background-repeat: no-repeat;
	padding-left: 16px;
}

.quick_login input[type=submit], .quick_login input[type=button] {
	font-size: 10px;
	width: 60px;
	background-color: #444;
	color: #ddd;
	border-radius: 7px;
	border-width: 1px;
	border-style: solid;
	border-color: #777 #222 #222 #777; 
}


#popup-message-dialog {
	border: 1px #fff solid;
	position: fixed;
	min-width: 400px;
	opacity: 0.6;
	background-color: #000;
	border-radius: 7px;
	text-align: center;
	padding: 30px;
	right: 10px;
	bottom: 10px;
}

.popup-message-dialog-show {
	-moz-animation: fadein 1s;
	-webkit-animation: fadein 1s;
}

.popup-animate-close {
	-moz-animation: fadeout 1s;
	-webkit-animation: fadeout 1s;
}



/* BB styles*/
.bb_code, .bb_quote, .bb_sql {
	font-family: Monospace, Courier; /* Monospaced fonts for code */ 
	background-color: #222;
	border: 1px #ddd dotted;
	border-radius: 7px;
	margin: 15px;
	padding: 4px;
	overflow: auto;
	white-space: pre-wrap;
}

legend {
	color: #999;
	background-color: #111;
	border: 1px #ddd dotted;
	font-weight: bold;
	font-size: 10px;
	border-radius: 7px;
	min-width: 32px;
	padding-left: 8px;
	padding-right: 8px;
	text-align: center;
}

/* Pagging */
.pagging {
	text-align: left;
	padding-left: 10px;
}

