<form method="post" action="?mod=user&amp;action=login">
<table class="quick_login">
	<tr>
		<td><input type="text" name="user" /></td>
	</tr>
	<tr>
		<td><input type="password" name="pass" /></td>
	</tr>
	<tr>
		<td>
			<input type="submit" name="login" value="{LANG:Login}" />
			<input type="button" onclick="document.location='?mod=user&amp;action=create';" value="{LANG:Create}" />
		</td>
	</tr>
</table>
</form>
